<!doctype html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head.html')  %>
    <title>EBusiness</title>
</head>
<body>
    <%= require('html-loader!./layout/nav.html')  %>
    <%= require('html-loader!./layout/header.html')  %>
    <%= require('html-loader!./layout/breadcrumb.html')  %>
    <section class="body-content container">
        <%= require('html-loader!./layout/sidebar.html')  %>
        <div class="content side-collapsed">
        </div>
    </section>
    <%= require('html-loader!./layout/foot.html')  %>
</body>
</html>