@import "./typography";
@import "./utility";
@import "./theme/default";

@import "./normalize";
@import "./nav";
@import "./foot";

html {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.container {
  width: 1080px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  color: @text-color;
}
