@import "./typography";
@import "./utility";
@import "./theme/default";
@import "./btn";

@import "./normalize";
@import "./nav";
@import "./nav-simple";
@import "./foot";

html {
  font-size: 14px;
}
a {
  text-decoration: none;
  &.link {
    font-size: 12px;
    &:hover {
      color: @link-hover-color;
      text-decoration: underline;
    }
  }
}
body {
  background: @background-color-base;
  color: @text-color;
}
.container {
  width: 1080px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  color: @text-color;
}

.panel {
  background: @background-color-third;
  border-radius: 4px;
  .panel-heading, .panel-body {
    padding: 10px 15px;
  }
  .panel-heading {
    border-bottom: 1px solid @color-info-lighter;
  }
}
