footer.bottom-footer {
  padding-bottom: 10px;
  background: @background-color-base;
  font-size: 12px;
  .links, .copyright {
    text-align: center;
    color: @color-text-regular;
    line-height: 30px;
  }
  .links {
    a {
      display: inline-block;
      position: relative;
      padding: 0 10px;
      &:not(:last-child):before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 9px;
        width: 1px;
        height: 12px;
        background: @color-info;
      }
    }
  }
}