<footer class="bottom-footer">
    <div class="container">
        <div class="links">
            <a href="http://www.imooc.com" class="text-info link" target="_blank">慕课网</a>
            <a href="http://www.baidu.com" class="text-info link">百度网</a>
            <a href="http://www.taobao.com" class="text-info link">淘宝网</a>
            <a href="http://www.jd.com" class="text-info link">京东商城</a>
            <a href="http://www.zhihu.com" class="text-info link">知乎</a>
        </div>
        <p class="copyright">
            Copyright ©2020 ebusiness.com All Right Reserved.
        </p>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>