<nav class="clearfix top-nav">
    <div class="container">
        <div class="pull-left">
            <span class="is-login">
                <a class="text-primary" href="" id="login">登录</a>
                <a class="text-primary  " href="" id="register">注册</a>
            </span>
            <span class="not-login" hidden>
                <span>欢迎，<a href="" class="text-primary">哔哩哔哩</a></span>
                <a class="text-muted" href="" id="logout">退出</a>
            </span>
        </div>
        <div class="pull-right">
            <div class="right-box">
                <a href="./cart.html" class="text-info link">
                    <i class="iconfont icon-gouwuche"></i>
                    购物车<span class="cart-count">0</span>
                </a>
                <a href="./order-list.html" class="text-info link">我的订单</a>
                <a href="./user-center.html" class="text-info link">我的EBUSINESS</a>
                <a href="./about.html" class="text-info link">关于EBusiness</a>
            </div>
        </div>
    </div>
</nav>