<nav class="clearfix top-nav">
    <div class="container">
        <div class="pull-left" id="topNavLeft">
        </div>
        <div class="pull-right">
            <div class="right-box">
                <a href="./cart.html" class="text-info link">
                    <i class="iconfont icon-gouwuche"></i>
                    购物车<span class="cart-count">0</span>
                </a>
                <a href="./order-list.html" class="text-info link">我的订单</a>
                <a href="./user-center.html" class="text-info link">我的EBUSINESS</a>
                <a href="./about.html" class="text-info link">关于EBusiness</a>
            </div>
        </div>
    </div>
</nav>